# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
*.egg-info/

# Node
node_modules/
frontend/node_modules/

# Model weights
**/sum_model.pth
**/weights/
net/pre_trained_weights/*.pth

# Cache + outputs
out/
mamba_ssm/build/
mamba_ssm/*.so
*.log
*.DS_Store

tmp/
images/
**/sum_model.pth

# model weights
model_zoo/*
!model_zoo/README.md

model_zoo/*
